.DBP {
  width: 100%;
  height: auto;
  .DBP__center {
    width: 65%;
    height: auto;
    margin: 0 auto;
    .DBP__title {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: calc(16px + 8px);
      h2 {
        color: rgb(12, 12, 12);
        font-size: 21px;
        font-weight: 500;
        font-family: var(--IranYekan);
      }
    }
    .DBP__undertitle {
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 16px;
      height: 310px;
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        .DBP__content {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-rows: auto auto;
          row-gap: 1px;
          border-radius: 16px;
          a {
            border-left: 1px solid rgb(240, 240, 241);
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: rgb(12, 12, 12) !important;
            row-gap: 8px;
            font-family: var(--IranYekan);
            font-size: 14px;
            .img {
              width: 84px;
              height: 84px;
              padding: 12px;
              background-color: rgb(240, 240, 241);
              border-radius: 50%;
              img {
                width: 60px;
                height: 60px;
                mix-blend-mode: multiply;
              }
            }
            span {
              max-width: 130px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
