.popular__brands {
  width: inherit;
  height: 225px;
  margin-bottom: 15px;
  .superPop {
    width: 65% !important;
  }
  .popular__brands__center {
    width: 70.5%;
    margin: 0 auto;
    height: inherit;
    border-radius: 16px;
    border: 1px solid lightgray;
    .popular__brands__title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80px;
      svg {
        fill: rgb(249, 188, 0) !important;
      }
      h3 {
        font-family: var(--IranYekan);
        font-size: 21px;
        color: (43, 43, 43);
        margin-right: 10px;
        font-weight: 500;
      }
    }
    .popular__brands__slider {
      width: 100%;
      height: 125px;
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        .without__border {
          border: none !important;
        }
        a {
          border-left: 1px solid rgb(235, 235, 235);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 110px;
            height: 110px;
            object-fit: contain;
          }
        }
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
